main{
    width: 100%;

& table {
    padding-top: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans;
}
} 